<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button 
        routerLink="/"
        class="btn btn-link"
        >To home page</button>
    </div>

    <div class="info">
        <strong>There author</strong>
        <small>16.03.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad fuga deserunt, temporibus ipsa reprehenderit. Enim cumque perspiciatis incidunt id a quia accusantium eaque consequatur nulla ducimus ipsam nesciunt laborum, itaque numquam doloremque nostrum velit harum perferendis voluptatum atque quaerat? Ea nam optio possimus quibusdam sapiente aspernatur libero doloribus distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad fuga deserunt, temporibus ipsa reprehenderit. Enim cumque perspiciatis incidunt id a quia accusantium eaque consequatur nulla ducimus ipsam nesciunt laborum, itaque numquam doloremque nostrum velit harum perferendis voluptatum atque quaerat? Ea nam optio possimus quibusdam sapiente aspernatur libero doloribus distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad fuga deserunt, temporibus ipsa reprehenderit. Enim cumque perspiciatis incidunt id a quia accusantium eaque consequatur nulla ducimus ipsam nesciunt laborum, itaque numquam doloremque nostrum velit harum perferendis voluptatum atque quaerat? Ea nam optio possimus quibusdam sapiente aspernatur libero doloribus distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad fuga deserunt, temporibus ipsa reprehenderit. Enim cumque perspiciatis incidunt id a quia accusantium eaque consequatur nulla ducimus ipsam nesciunt laborum, itaque numquam doloremque nostrum velit harum perferendis voluptatum atque quaerat? Ea nam optio possimus quibusdam sapiente aspernatur libero doloribus distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad fuga deserunt, temporibus ipsa reprehenderit. Enim cumque perspiciatis incidunt id a quia accusantium eaque consequatur nulla ducimus ipsam nesciunt laborum, itaque numquam doloremque nostrum velit harum perferendis voluptatum atque quaerat? Ea nam optio possimus quibusdam sapiente aspernatur libero doloribus distinctio?</p>

    </div>
</div>
